/* mealPlanner.css */

.meal-planner {
    margin-top: 2rem; /* TEMP */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.meal-planner__col1,
.meal-planner__col2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns for col1 */
    gap: 2rem;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #fff8f0;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    height: fit-content;
    min-height: 15rem;
    filter: drop-shadow(1px 1px 2px black);
}

.meal-planner__col2 {
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr); /* Three columns for col2 */
    justify-items: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Aligns text to the top */
    text-align: center;
    background-color: #bbc8ab;
    border: 0.25rem dashed black;
    border-radius: 0.5rem;
    padding: 0.75rem 0.1rem 0rem 1rem;
    height: 16rem;
    width: 13rem;
    overflow-y: auto;
    filter: drop-shadow(1px 1px 2px black);
}

.dayTitle {
    display: flex;
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    text-align: center; /* Additional horizontal centering for good measure */
    margin-top: -0.25rem;
    background-color: #fff8f0;
    padding: 0 1rem; /* Adjusted for better centering */
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    filter: drop-shadow(1px 1px 5px rgba(62, 62, 62, 0.63));
}


.mealList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 80%;
    transform: translateX(-1rem);
    overflow-y: auto;
}

.remBut {
    position: absolute;
    right: 0.15rem;
    transform: translateY(-1rem);
    background-color: darksalmon;
}

.mealTitContain {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 9rem;
    height: 1rem;
}

.mealTit {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap; /* Optional */
    overflow: hidden; /* Optional */
    text-overflow: ellipsis; /* Optional */
    color: #eaa102;
    float: left;
    filter: drop-shadow(0.08rem 0.08rem 0.05rem #4a2b06);
}