/* recipeDisplay.css */

.recipesContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items: center;
}

.recipe {
    width:90%;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #b0bdaf;
    border-radius: 0.5rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.recipeTitle {
    float: left;
    position: absolute;
    top: 2%;
    margin-left: 1.5rem;
}

.actionButton {
    position: absolute;
    left: 0.5rem;
    top: 1.7rem;
    background-color: transparent;
    z-index: 60;
    border-radius: 20rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionMenu {
    display: none;
    position: absolute;
    left: 0.4rem;
    top: 1.4rem;
    z-index: 50;
    width: 10rem;
    height: 5rem;
    background-color: #fff8f0;
    justify-content: center;
    align-items: center;
}
.actionButton:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
#actionIMG {
    aspect-ratio: auto;
    width: 1rem;
}
.actionMenuButton {
    border: none;
    width: 100%;
    height: 50%;
}
.actionMenuButton:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.recipeAttribute {
    float: right;
}

.recipeDescription ol, .recipeDescription ul {
  list-style-position: inside;  /* Keeps the numbers or bullets inside the box */
  padding: 0;                  /* Remove padding */
  margin: 0;                   /* Remove margin */
}

.recipeDescription {
    margin-top: 3rem;
    text-align: justify;
    list-style-position: outside;
    position: absolute;
    left: 31%;
    width: 32%;
    height: 8.7rem;
    overflow-y: auto;
    background-color: #fff8f0;
    padding: 0.9rem 1.2rem 0.9rem 1rem;
    border-radius: 0.15rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.recipeImage {
    position: absolute;
    top: 24%;
    left: 1.5%;
    aspect-ratio: initial;
    width: 17.5rem;
    border-style: solid;
    border-radius: 2rem;
}

.ingredientList {
    text-align: center;
    margin-top: 2rem;
    position: absolute;
    top: 3.15rem;
    right: 1rem;
    width:25%;
    height: 6.5rem;
    overflow-y: auto;
    column-count: 2;
    column-fill: balance;
    column-gap: 3rem;
    column-rule-style: double;
    column-rule-width: 0.3rem;
    background-color: #fff8f0;
    padding: 2rem;
    border-radius: 0.15rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.ingredient {
    font-size: 0.8rem;
    color: black;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.recipeAttribute {
    background-color: #fff8f0;
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.15rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.chooseDayBox {
    position: fixed;
    justify-content: center;
    top: 30%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.51);
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    border-style: solid;
}
.chooseDayBox.show {
    display: flex;
}
#chooseDayh5 {
    color: white;
}

.addedBox {
    position: fixed;
    top: 5.5rem;
    justify-content: center;
    z-index: 20;
    background-color: rgba(159, 159, 159, 0.36);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    display: none;
    opacity: 0;
    animation: fadeShiftInOut 2s ease-in-out forwards;
}

.addedBox.show {
  display: revert;
  opacity: 1;
}

@keyframes fadeShiftInOut {
  0% {
    opacity: 0;
    transform: translateY(-1rem); /* Start above */
  }
  50% {
    opacity: 1;
    transform: translateY(1rem); /* Move down */
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem); /* Move back above and fade out */
  }
}
